.container {
  box-sizing: border-box;
  max-width: 1140px;
  margin: 0 auto;
   font-family: "Noto Serif", serif;
  
}

/* header part style */
.nav-list ul{
    display: flex;
    list-style: none;   
}
.nav-list a{
   text-decoration: none;
   color: rgba(161, 135, 151, 1);
   margin-left: 50px;
}
.navigation-bar{
    display: flex;
    align-items: center;
    
    
    justify-content: space-between;
}
img{
    width: 100%;
}

ul li:first-child a{
  color: black;
  font-weight: bold;
}
/* banner part style */
.banner-left h1{
    font-size:4rem ;
    font-weight: bold;
    
}
.banner-left p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
}
.span{
    color: rgba(233, 90, 8, 1);
}
.banner{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Our plant style part  */
.our-plant{
    margin-top: 120px;
}
.card{
    width: 270px;
    height: 480px;
    display: flex;
    flex-direction: column;
     
}
.card h4{
    margin: 5px;
    font-size: 22px;
    text-align: center;
}
.card img{
    width: 100%;
}
.card button{
    color: white;
    background-color: rgba(233, 90, 8, 1);
    padding: 16px 50px;
    border:none;
}

.plant-left h1{
    font-size: 3.125rem;
    text-align: center;

}
.plant-left p{
    
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 22px;

}
.plant-right{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
/* Flower plant style part */
.flower-left img{
    width: 100%;
    height: 100%;

}
.icon{
    position:relative;
    top: -950px;
    left: 100px;
}

.flower-plant{
    display: flex;
    margin-top: 150px;
    
}
.flower-right h1{
     font-size: 3.125rem;
}
.flower-right{
    margin-left: 50px;
}
.flower-right ul li{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    margin-bottom: 10px;
}




/* Responsive for header part for mobile phone */
@media  screen and (max-width:576px) {
    
   .nav-list ul li:nth-child(1) a,
  .nav-list ul li:nth-child(2) a,
  .nav-list ul li:nth-child(3) a {
    display: none;
  }
  .banner{
    flex-direction: column-reverse;
  }
  .banner-left h1{
    font-size: 1.5rem;
    margin-left: 10px;
  }
   .banner-left p{
    margin-left: 10px;
    font-size: 16px;
   }
   .plant-right{
    grid-template-columns: repeat(2,1fr);
    margin-left: 10px;
   }
   .plant-left h1{
    font-size: 2rem;
    text-align: center;

}
.plant-left p{
    
    text-align: center;
    font-size: 16px;

}
.card{
    width: 150px;
    height: 340px;  
      
     
}
.flower-plant{
    flex-direction: column;
}
.flower-left .icon{
    display: none;
}


    
}